@font-face {
    font-family: "MiSans";
    src: url("../fonts/misans/MiSans-Regular.woff2") format("woff2");
    font-weight: 100 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MiSans";
    src: url("../fonts/misans/MiSans-Semibold.woff2") format("woff2");
    font-weight: 600 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MiSans";
    src: url("../fonts/misans/MiSans-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}